# sensor.yaml
apiVersion: argoproj.io/v1alpha1
kind: Sensor
metadata:
  name: github-sensor
  namespace: argo
spec:
  dependencies:
    - name: demo
      eventSourceName: github-events
      eventName: example
  triggers:
    - template:
        name: github-workflow-trigger
        k8s:
          operation: create
          source:
            resource:
              apiVersion: argoproj.io/v1alpha1
              kind: Workflow
              metadata:
                generateName: github-push-run-
              spec:
                entrypoint: whalesay
                templates:
                - name: whalesay
                  container:
                    image: docker/whalesay:latest
                    command: [cowsay]
                    args: ["Git Push Received!"]